<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- Console Appender -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>D:\Guyoungmo\spring-workspace\logs\logexample2</file>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </root>

</configuration>
